body {
  background-image: url('../test.jpg');
  background-size: cover;
}

.bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -9999;
  /*-webkit-filter: grayscale(70%);
  filter: grayscale(70%);*/
  -webkit-filter: sepia(70%);
  filter: sepia(70%);
}
